.margin_page__container{
    background: #111622;
    border-top: 4px solid black;
}

.margin_page__container .container__logo{
    padding-bottom: 15px;
}
.margin_page__tab_list{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin: 0;
    padding: 0;
    height: 30px;
    list-style: none;
    background: #0B0F18;
    align-items: center;
    margin-bottom: 20px;
}

.margin_page__tab_list :first-child{
    padding-left: 15px;
}

.margin_page__tab{
    padding-left: 15px;
}

.margin_page__tab{
    background: #0B0F18;
    padding-right: 33px;
    font-size: 14px;
    line-height: 30px;
    font-family: 'DIN Pro Bold';
}
.margin_page__tab.react-tabs__tab--selected{
    color: white;
    background: #111622;
}

.button_green{
    background-color: #17AC75;
    border: 0;
    color: white;
    font-size: 12px;
    height: 24px;
}