.transaction_history_page__container{
    width: 100%;
    border-top: 4px solid black;
}

.transaction_history__head_container .container__logo{
    font-size: 14px;
    color: white;
    line-height: 24px;
    padding-left: 0;
    font-family: 'DIN Pro Bold';
}

.transaction_history__head_container{
    padding-left: 15px;
    padding-right: 40px;
    padding-bottom: 10px;
    border-bottom: 4px solid black;
}

.transaction_history__head_text{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    color: white;
    font-family: 'DIN Pro Bold';
}

.transaction_history_page__container .container__logo{
    font-size: 14px;
    color: white;
    line-height: 24px;
    padding-top: 10px;
    font-family: 'DIN Pro Bold';

}