.margin_trading__container{
    display: flex;
    justify-content: space-between;
}

.margin_trading__box{
    display: flex;
    background: #161B29;
    border: 1px solid #1F2535;
    box-sizing: border-box;
    width: 340px;
    height: 44px;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'DIN Pro Bold';
    margin-bottom: 20px;
}

.margin_trading__left_container{
    padding-left: 20px;
}

.margin_trading__right_container{
    padding-right: 20px;
}

.margin_trading__right_container .margin_trading__box{
    width: 513px;
    margin-bottom: 10px;
}

.margin_trading__text_container{
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'DIN Pro Bold';
    font-size: 14px;
    color: #FFFFFF;
    line-height: 24px;
    margin-top: 30px;
}

.margin_trading__top_text_container{
    padding-bottom: 30px;
}