.withdraw_deposit_tab__container{
    display: flex;
    justify-content: space-between;
    padding-right: 15px ;
    padding-left: 15px;
    

}

.withdrawl_tab__withdraw_form{
    background: #111622;
    border: 1px solid #1F2535;
    box-sizing: border-box;
    border-radius: 1px;
    width: 369px;
    height: 283px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 24px;
}

.withdraw_form__top_container{
    
    padding-top: 5px;
    line-height: 24px;
}

.withdraw_address__container{
    
    color: white;
    padding-top: 5px;
}


.withdrawal_form__output_field{
    background: #0B0F18;
    border: 1px solid #1F2535;
    box-sizing: border-box;
    width: 340px;
    height: 36px;
    margin-left: 14px;
    font-size: 14px;
    line-height: 24px;
    font-family: 'DIN Pro Bold';
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
}

.withdrawal_form__input_field{
    background: #161B29;
    border: 1px solid #1F2535;
    box-sizing: border-box;
    width: 336px;
    height: 26px;
    font-family: 'DIN Pro Bold';
    color: white;
    font-size: 14px;
    line-height: 24px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.withdrawal_form__input_field::placeholder{
    color: #788096;
}

.amount_withdraw__container .flex{
    justify-content: space-between;
    margin-top: 10px;
    margin-right: 10px;
    line-height: 24px;
}

.amount_withdraw__container{
    margin-top: 25px;
}



.withdrawal_form__total_container{
    width: 556px;
}
.withdrawal_form__output_field{
    background: #0B0F18;
    border: 1px solid #1F2535;
    box-sizing: border-box;
    width: 340px;
    height: 36px;
    margin-left: 14px;
    font-size: 14px;
    line-height: 24px;
    font-family: 'DIN Pro Bold';
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
}

.withdrawal_form__output_field_container .withdrawal_form__output_field{
    margin-bottom: 10px;
    color: #788096;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.withdrawal_form__text_container{
    margin-top: 50px;
    font-family: 'DINPro-Medium';
    font-size: 14px;
    line-height: 24px;
    color: white;
    padding-left: 15px;
}

.withdrawl_tab__withdraw_form .button__green{
    margin-top: 13px;
    width: 100px;
}

.amount_withdraw__button_container{
    justify-content: center;
    display: flex;
}

.amount_withdraw__input_container{
    display: flex;
}

.amount_withdraw__input_container div .withdrawal_form__input_field{
    width: 212px;
    border-right: none;
}

.amount_withdraw__input_container div:last-child{
    background: #0B0F18;
    border-top: 1px solid #1F2535;
    border-bottom: 1px solid #1F2535;
    border-right: 1px solid #1F2535;
    width: 30px;
    text-align: center;
}

.available_icon{
    background: #161B29;
    border-top: 1px solid #1F2535;
    border-bottom: 1px solid #1F2535;
    padding-right: 5px;
}