@font-face{
  font-family: 'DINPro-CondensedBold';
  src: url('./fonts/DINPro-CondensedBold.ttf');
}

@font-face{
  font-family: 'DINPro-Medium';
  src: url('./fonts/DINPro-Medium.woff');
}

@font-face{
  font-family: 'DIN Pro Bold';
  src: url('./fonts/DINPro-Bold.woff');
}

@font-face{
  font-family: 'DINPRO-Black';
  src: url('./fonts/DINPro-Black.woff');
}

@font-face{
  font-family: 'DIN Pro Condensed Black';
  src: url('./fonts/DINPro-CondensedBlack.woff');
}

@font-face{
  font-family: 'DINPro-Black';
  src: url('./fonts/DINPro-Black.woff');
}

@font-face{
  font-family: 'DINPro-CondensedMedium';
  src: url('./fonts/DINPro-CondensedMedium.woff');
}

#root{
  font-family: 'DINPro-CondensedBold';
  color: #788096;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}

button {
  border: none;
  cursor: pointer;
}

.white__text{
  color: white;
}
.red__text{
  color: #EA0038;
}

.dark_grey__text{
  color: #1F2535;
}

.green__text{
  color: #17AC75;
}

.account__main_container{
  display: flex;
  width: 100%;
}

.flex{
  display: flex;
}

input{
  outline: none;
}
.account_mid__container{
  width: 100%;
}

.page__container{
  background: #111622;
  height: 1262px;
}

.button_green{
  background-color: #17AC75;
  border: 0;
  color: white;
  font-size: 12px;
  height: 24px;
  border-radius: 1px;
}

.button_gray{
  background: #788096;
  border: 0;
  color: white;
  font-size: 12px;
  height: 24px;
  border-radius: 1px;
}