.log_history_table__container{
    width: 100%;
    background: #0B0F18;
    padding-top: 10px;
    padding-bottom: 30px;
}

.log_history_table{
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    background: #0B0F18;
    text-align: left;
}

.log_history_table__th{
    padding-left: 40px;
}
.log_history_table__td{
    padding-left: 40px;
    color: white;
    line-height: 24px;
}

.log_history_table__tr:nth-child(n+2):hover{
    background: #1F2535;
}