.balances_table{
    background: #0B0F18;
    width: 100%;
    font-family: 'DIN Pro Condensed Bold';
}

.balances_table__container{
    background: #0B0F18;
    padding-top: 5px;
    padding-bottom: 20px;
    padding-right: 10px;
}

.balances_table__actions_container{
    display: flex;
    justify-content: space-between;
    color: white ;
}

table{
    border-collapse: collapse;
}

.balances_table__th_container{
    letter-spacing: 1px;
    line-height: 24px;
}

.balances_table__td_container{
    letter-spacing: 1px;
    line-height: 28px;
}

.balances_table__td .fab{
    color: #ffa102;
    padding-right:5px;
}

.balances_table__td{
    color: white;
}

.balances_table__th_container th:first-child{
    padding-left: 15px;
    width: 165px;
    text-align: left;
}

.balances_table__th_container th:last-child{
    width: 200px;
    padding-right: 0px;
    text-align: center;
}

.balances_table__td_container td:first-child{
    padding-left: 15px;
    text-align: left;
    color: white;
}

.balances_table__td_container:hover{
    background: #1F2535;
}
.balances_table__th{
    margin-right: 30px;
}

.fa.fa-bitcoin{
    padding-right: 5px;
    color: #F7941D;
}

.balances_table__actions_table{
    width: 200px;
}

.balances_table__td_container:nth-child(n+2):nth-child(-n+30){
    text-align: center;
}





