.account_sidebar__container{
    width: 341px;
    height: 1337px;
    background: #111622;
    border-right: 4px solid black;
    border-top: 4px solid black;
  }
  
  .account_sidebar__wallets__container{
    height: 774px;
    border-bottom: 4px solid black;
  }
  
  .wallet__container{
    width: 252px;
    height: 149px;
    background: #0B0F18;
    border: 1px solid #1F2535;
    box-sizing: border-box;
    margin-top: 8px;
    margin-left: 44px;
  }
  
  .wallet__container:first-child{
    margin-top: 13px;
  }
  
  .wallet__data_container{
    margin-left: 72px;
    font-family: 'DIN Pro Bold';
    margin-top: 30px;
    line-height: 24px;
  }
  
  .wallet__values_container{
    font-family: 'DIN Pro Condensed Black';
    padding-right: 58px;
      text-align: right;
  }
  
  .account_sidebar__wallets__container .container__logo{
    font-size: 14px;
    padding-left: 22px;
    padding-top: 22px;
  }
  
  .account_sidebar__wallets__button_container{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 65px;
    margin-right: 65px;
  }
  
  .button__green{
    background: #17AC75;
    color: white;
    border: 0;
    font-family: 'DIN Pro Bold';
    font-size: 12px;
    line-height: 24px;
  }
  
  .account_sidebar__wallets__button_container .button__green{
    width: 101px;
  }
  
  .account_sidebar__wallets__button_container .button__green:first-child{
    margin-right: 10px;
  }
  
  .account_sidebar__banner_container div:first-child{
    height: 255px;
    background: #1B253D;
    border-bottom: 4px solid black;
  }
  
  .account_sidebar__banner_container{
    box-sizing: border-box;
    background: #1B253D;
  }
  
  .account_sidebar__banner_container div:last-child{
    height: 299px;
  }