.withdraw_deposit_tab__container{
    display: flex;
    justify-content: space-between;
    padding-right: 15px ;
    padding-left: 15px;

}

.withdraw_deposit_tab__deposit_form{
    background: #111622;
    border: 1px solid #1F2535;
    box-sizing: border-box;
    border-radius: 1px;
    width: 369px;
    height: 177px;
    margin-top: 20px;
}

.deposit_form__top_container{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 5px;
    margin-bottom: 20px;
    line-height: 24px;
    font-family: 'DIN Pro Condensed Bold';
    margin-top: 10px;
    letter-spacing: 1px;
    font-size: 14px;
}

.deposit_form__top_container .fab{
    margin-right: 1px;
    color: rgb(230, 147, 14);
}


.deposit_form__output_field{
    background: #0B0F18;
    border: 1px solid #1F2535;
    box-sizing: border-box;
    width: 340px;
    height: 36px;
    margin-left: 14px;
    font-size: 14px;
    line-height: 24px;
    font-family: 'DIN Pro Bold';
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
}

.deposit_form__buttons_container{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 250px;
    margin-left: 60px;
}

.deposit_form__buttons_container .button_green{
    width: 100px;
}

.deposit_form__total_container{
    width: 556px;
}

.deposit_form__output_field_container .deposit_form__output_field{
    margin-bottom: 10px;
    color: #788096;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.deposit_form__text_container{
    margin-top: 50px;
    font-family: 'DINPro-Medium';
    font-size: 14px;
    line-height: 24px;
    color: white;
    padding-left: 15px;
}

.wallet_withdraw__history_container{
    border-top: 4px solid black;
}