.outputFieldFlexCenter {
    background: #161B29;
    border-radius: 1px;
    border: 1px solid #1F2535;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 254px;
    height: 24px;
    margin-bottom: 10px;
}

.TotalContainer {
    padding: 28px 37px 13px 37px;
    border-bottom: 4px black solid;
  }