#home{
  color: #788096;
  background: #000;
  letter-spacing: 1px;
  font-family: 'DIN Pro Condensed Bold';
}
.main_container {
  display: flex;
  border-top: 4px solid black;
}

.rightLine {
  display: flex;
  flex-direction: column;
}

.home__side {
  width: 290px;
  margin-right: 4px;
}

.home__side .container__logo{
  font-family: 'DIN Pro Black';
}

.home__side__banner {
  border-bottom: 4px solid #000;
}
.home__side__banner img{
  width: 100%;
}
.home__side__news{
  border-bottom: 4px solid #000;
}

.home__side__assets {
  padding-top: 9px;
  border-bottom: 4px solid #000;
}



.output_field_flex {
  background: #161B29;
  border-radius: 1px;
  border: 1px solid #1F2535;
  height: 24px;
  width: 257px;
  margin: 10px 17px;
  display: flex;
  align-items: center;
}

.output_field_flex_space {
  margin-right: auto;
  padding: 0em 0em 0em .8em;
  color: #CCD0DB;
}



.topAssets_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.home__side__assets .topAssets_footer{
  padding: 15px 0;
}
.totopAssets_footer_font {
  font-size: 12px;
  border-bottom: 2px solid #0B0F18;
}

.az_news_container {
  padding-top: 9px;
  margin: 0px;
}

.slider_container {
  height: 384px;
  margin-bottom: 4px;
}

.middle_container {
  display: flex;
  height: calc(100% - 388px);
}

.middle_left_container {
  width: 100%;
}

.middle_left_container .container__logo{
  font-family: 'DIN Pro Bold';
}

.middle_right_container {
width: 330px;
margin-left: 4px;
}



.middle_left_container__header {
  border-bottom: 4px solid black;
  font-family: "DINPro-Medium";
  font-size: 13px;
  line-height: 24px;
  padding: 10px 25px 5px 25px;
}

.ab_block_container {
  display: flex;
}

.ad_block_container__col {
  height: 149px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.az_token_stats_container {
  padding-left: 15px;
  padding-right: 30px;
  font-family: 'DIN Pro Bold';
  border-bottom: 4px solid black;
}



.ad_block_container__col+.ad_block_container__col {
  border-left: 4px solid black;
}

.why_az_proj_container {
  border-top: black solid 4px;
  height: 435px;
}




.az_proj_content_container {
  margin: 20px 10px 22px 10px;
  display: flex;
  justify-content: space-around;
}

.az_proj__container_item {
  width: 100%;
}

.proj__container_card {
  background: #0B0F18;
  margin-right: 15px;
  margin-bottom: 4px;
  height: 115px;
}

.card_under_text {
  color: #17AC75;
  text-align: right;
  padding-right: 10px;
  padding-bottom: 10px;

  font-size: 16px;
}

.content_container {
  display: flex;
  justify-content: space-between;
}

.card__text {
  font-size: 16px;
  height: 24px;
  padding-left: 10px;
  padding-top: 4px;
  line-height: 24px;
}

.card__img {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-right: 10px;
  background: #1F2535;
}
.middle__container_item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.middle__container_item .proj__container_card:first-child {
  height: 56px;
  margin-bottom: 25px;
  justify-content: center;
}

.middle__container_item .proj__container_card:nth-child(2) {
  height: 76px;
  margin-bottom: 25px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  ;
}

.middle__container_item .proj__container_card:last-child {
  height: 163px;
}

.middle__container_item .proj__container_card:last-child .card_under_text {
  text-align: left;
  padding-left: 10px;
  padding-top: 22px;
}

.middle__container_item .content_container {
  flex-direction: row-reverse;
  padding-right: 10px;
}

.middle__container_item .content_container .card__img {
  margin-left: 10px;
  margin-top: 13px;
  height: 54px;
}

.middle__container_item .content_container .card__text {
  text-align: right;
}

.az_proj__container_item:last-child .proj__container_card {
  margin-right: 0px;
}

.under_content_link {
  text-align: right;
  margin-right: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
}

.page__link{
  color: white;
}

.page__link:hover{
  color: #17AC75;
}

.txt_algn_left {
  text-align: left;
  height: 25px;
}

.txt_algn_rght {
  text-align: right;
  height: 25px;
}

.dark_grey {
  color: #1F2535;
}


.az_token_stats__button_container{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.az_token_stats__button_container .button_green{
  width: 120px;
}